body {
    background-color: #000;
    margin: 0;
    min-height: 100vh;
}

.bracket-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background: linear-gradient(180deg, #222, #111);
  color: white;
}

.round {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 30%;
}

.round h3 {
  text-align: center;
  margin-bottom: 10px;
}

.match-node {
  background: #1b1b1b;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.player {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  font-size: 14px;
  opacity: 0.6;
}

.player.win {
  color: #3cff00;
  opacity: 1;
  font-weight: bold;
}
