body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.round-section {
  margin-bottom: 30px;
}

.match-card {
  background: #fff;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
}

.winner {
  background: black;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 6px;
}
